/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
    background: #f5f5f5;
}


/* Layout
-----------------------------------------------------------------------------*/

.header {
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
	padding: 15px;
	height: 50px;
	font-size: 36px;
	color: black;
    background: #efefef;
	text-align: center;
	line-height: 50px;
    z-index: 4;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.25);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.25);
}

.main-navigation {
	position: absolute;
	top: 80px;
    left: 0;
    bottom: 0;
	width: 240px;
    padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
    overflow-y: scroll;
    z-index: 1;
    background: #efefef;
    -webkit-box-shadow: 3px 0 10px 0 rgba(0,0,0,0.25);
    box-shadow: 3px 0 10px 0 rgba(0,0,0,0.25);
}

.content {
	position: absolute;
	top: 99px;
	left: 275px;
	right: 255px;
	bottom: 19px;
    z-index: 0;
    background: white;
}

.sub-navigation {
	position: absolute;
	top: 80px;
    right: 0;
    bottom: 55px;
	width: 238px;
    padding-top: 15px;
	padding-left: 15px;
    z-index: 1;
}

.footer {
	bottom: 0;
	height: 45px;
	left: 255px;
    right: 0;
	padding: 5px;
	background: #3e8e41;
	position: absolute;
	align-items: center;
    z-index: 0;
}

#logo {
	max-width: 70%;
    height: 100%;
	margin: auto;
	display: block;
    position: relative;
    z-index: 1;
    vertical-align: middle;
}

#console {
    position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    padding: 15px;
	overflow: scroll;
	border-style: dotted;
	border-width: 1px;
	font-size: 16px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    z-index: 2;
}


/* Buttons etc.
-----------------------------------------------------------------------------*/

.btn {
	width: 220px;
	border: none;
	color: black;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	transition: 0.3s;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
    cursor: pointer;
    background-color: white;
}

.btnactive {
	background-color: #3e8e41;
	width: 220px;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	transition: 0.3s;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
}

.btn:hover {
	background-color: #3e8e41;
	color: white;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
}

input[type=number], select {
    display: inline-block;
    box-sizing: border-box;
    width: 462px;
	border: none;
	color: black;
	padding: 16px 32px;
	text-align: right;
	font-size: 16px;
	margin: 4px 2px;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
}

input[type=text], select {
    display: inline-block;
    box-sizing: border-box;
    width: 462px;
	border: none;
	color: black;
	padding: 16px 32px;
	text-align: right;
	font-size: 16px;
	margin: 4px 2px;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
}

input[type=submit] {
    width: 220px;
	border: none;
	color: black;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
    margin-right: 20px;
	transition: 0.3s;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
    cursor: pointer;
    background-color: white;
}

input[type=submit]:hover {
    background-color: #3e8e41;
	color: white;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #efefef;
    margin: 80px auto; /* 15% from the top and centered */
    padding: 20px;
    width: 467px; /* Could be more or less, depending on screen size */
    font-size: 16px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 156px;
	border: none;
	color: black;
	padding: 16px 32px;
	text-align: center;
	margin: 4px 2px;
	transition: 0.3s;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
    background-color: white;
}

.container:hover {
	background-color: #3e8e41;
	color: white;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 12px;
    left: 12px;
    height: 25px;
    width: 25px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #3e8e41;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container:hover .checkmark:after {
    border: solid greenyellow;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}