<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Ferraris Arduino Serial Gateway</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<script>
		function httpPost(uri) {
		    var xhttp = new XMLHttpRequest();
			xhttp.open("POST", uri, true);
			xhttp.send();
		}
	</script>
	<script>
		function httpPostConf(uri, nat, dt, lld, rpkwh, tkwh) {
		    var xhttp = new XMLHttpRequest();
			xhttp.open("POST", uri, true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send("nat=" + nat + "&dt=" + dt + "&lld=" + lld + "&rpkwh=" + rpkwh + "&tkwh=" + tkwh);
		}
	</script>
	<script>
        function httpGetConf(uri) {
            var nat = document.getElementById("nat");
			var dt = document.getElementById("dt");
			var lld = document.getElementById("lld");
			var rpkwh = document.getElementById("rpkwh");
			var astrt = document.getElementById("astrt");
			var tkwh = document.getElementById("tkwh");
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange=function() {
                if (this.readyState == 4 && this.status == 200) {
                    var conf = JSON.parse(this.responseText);
                    nat.value = conf.nat;
                    dt.value = conf.dt;
                    lld.value = conf.lld;
                    rpkwh.value = conf.rpkwh;
                    tkwh.value = conf.tkwh;
                    if (conf.strt == 0){
                        astrt.checked = false;
					} else if (conf.strt == 1) {
                        astrt.checked = true;
					}
                }
            };
            xhttp.open("GET", uri, true);
            xhttp.send();
        }
	</script>
	<script>
		function toggleAstrt(box) {
			if (box.checked == true) {
			    httpPost('{{ d_id }}/eas');
			} else if (box.checked == false) {
			    httpPost('{{ d_id }}/das');
			}
			httpGetConf('{{ d_id }}/conf');
		}
	</script>
</head>

<body>
<div class="wrapper">

	<header class="header">
		<div class="main-navigation">
			{% for device in devices %}
			{% if device == d_id %}
			<button class="btnactive" type="button" onclick="location.href=('{{ device }}');">Device {{ device }}</button>
			{% else %}
			<button class="btn" type="button" onclick="location.href=('{{ device }}');">Device {{ device }}</button>
			{% endif %}
			{% endfor %}
		</div>
    </header><!-- .header-->

	<div class="middle">

		<div class="container">
			<main id="content" class="content">

			</main><!-- .content -->
		</div><!-- .container-->

		<aside class="left-sidebar">
			<div class="sub-navigation">
				{% if d_id %}
				<button class="btn" type="button" id="myBtn">Configure</button>
				<button class="btn" type="button" onclick="httpPost('{{ d_id }}/mr')">Manual Read</button>
				<button class="btn" type="button" onclick="httpPost('{{ d_id }}/strt')">Start Detection</button>
				<button class="btn" type="button" onclick="httpPost('{{ d_id }}/stp')">Stop Current Action</button>
				<!---<button class="btn" type="button" onclick="httpPost('{{ d_id }}/eas')">Enable Auto Start</button>
				<button class="btn" type="button" onclick="httpPost('{{ d_id }}/das')">Disable Auto Start</button>-->
				<button class="btn" type="button" onclick="httpPost('{{ d_id }}/res')">Reset</button>
				Auto Start
				<label class="switch">
					<input id="astrt" type="checkbox" onclick="toggleAstrt(this)">
					<span class="slider"></span>
				</label>
				{% endif %}
			</div>
		</aside><!-- .left-sidebar -->

	</div><!-- .middle-->

</div><!-- .wrapper -->

<footer class="footer">
	<img id="logo" src="{{ url_for('static', filename='logo.svg') }}">
</footer><!-- .footer -->

<div id="myModal" class="modal">

  <!-- Modal content -->
	<div class="modal-content">
		<span class="close">OK</span>
		<label for="nat">New Average Threshold: </label><input id="nat" type="number" min="0" max="9000" required>
		<label for="dt">Detection Threshold: </label><input id="dt" type="number" min="0" max="9000" required>
		<label for="lld">Lower Limit Distance: </label><input id="lld" type="number" min="0" max="9000" required>
		<label for="rpkwh">Rotations / kWh: </label><input id="rpkwh" type="number" min="0" max="100000" required>
		<label for="tkwh">Total kWh: </label><input id="tkwh" type="text" required>
	</div>

</div>

<script>
	httpGetConf('{{ d_id }}/conf');
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function() {
        httpGetConf('{{ d_id }}/conf');
        modal.style.display = "block";
    };
    span.onclick = function() {
        var nat = document.getElementById("nat");
        var dt = document.getElementById("dt");
        var lld = document.getElementById("lld");
        var rpkwh = document.getElementById("rpkwh");
        var tkwh = document.getElementById("tkwh");
        if (nat.checkValidity()) {
            if (dt.checkValidity()) {
                if (lld.checkValidity()) {
                    if (rpkwh.checkValidity()) {
                        if (tkwh.checkValidity()) {
                            httpPostConf('{{ d_id }}/conf', nat.value, dt.value, lld.value, rpkwh.value, tkwh.value);
							modal.style.display = "none";
                        } else {
                            tkwh.value = '';
						}
					} else {
                        rpkwh.value = '';
					}
                } else {
                    lld.value = '';
				}
            } else {
                dt.value = '';
			}
        } else {
            nat.value = '';
		}
    };
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

{% if d_id %}
<script>
    var ws = new WebSocket("ws://" + window.location.hostname + ":5678/");
    ws.onmessage = function (event) {
        var content = document.createTextNode(event.data);
        document.getElementById('content').innerHTML += event.data + '<br>';
        document.getElementById('content').scrollTop = document.getElementById('content').scrollHeight
    };
</script>
{% endif %}

</body>
</html>