<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Ferraris Arduino Serial Gateway</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')|autoversion }}">
	<script src="{{ url_for('static', filename='gui.js')|autoversion }}"></script>
	{% if d_id %}
	<script>setDevice('{{ d_id }}')</script>
	{% endif %}
</head>

<body>

<div id="modal" class="modal">

  <!-- Modal content -->
	<div class="modal-content">
		<form id="configuration" action="javascript:" onsubmit="submitConf();">
			<label for="nat">Average Threshold: </label><input id="nat" type="number" min="0" max="30000" required><br><br>
			<label for="dt">Detection Threshold: </label><input id="dt" type="number" min="0" max="30000" required><br><br>
			<label for="lld">Delta: </label><input id="lld" type="number" min="0" max="30000" required><br><br>
			<label for="rpkwh">Rotations / kWh: </label><input id="rpkwh" type="number" min="0" max="30000" required><br><br>
			<label for="tkwh">Total kWh: </label><input id="tkwh" type="text" required><br><br>
			<input type="submit" value="Save"><button class="btn" type="button" onclick="toggleConfModal();">Cancel</button>
		</form>
	</div>

</div>

<div class="wrapper">

	<div class="header">
		{% if d_id %}
		{{ d_id }}
		{% else %}
		Ferraris Arduino Serial Gateway
		{% endif %}
    </div><!-- .header-->

	<div class="main-navigation">
		{% for device in devices %}
		{% if device == d_id %}
		<button class="btnactive" type="button" onclick="location.href=('{{ device }}');">Device {{ device }}</button>
		{% else %}
		<button class="btn" type="button" onclick="location.href=('{{ device }}');">Device {{ device }}</button>
		{% endif %}
		{% endfor %}
	</div>

	{% if d_id %}
	<div id="content" class="content">
		<img id="logo" src="{{ url_for('static', filename='logo.svg') }}">
		<div id="console"></div>
	</div>

	<div class="sub-navigation">
		<button class="btn" type="button" id="rs_btn" onclick="httpPost('{{ d_id }}/rs');">Read Sensor</button>
		<button class="btn" type="button" id="dbg_btn" onclick="httpPost('{{ d_id }}/dbg');">Debug Mode</button>
		<button class="btn" type="button" id="strt_btn" onclick="httpPost('{{ d_id }}/strt');">Start Detection</button>
		<button class="btn" type="button" id="stp_btn" onclick="httpPost('{{ d_id }}/stp');">Stop Current Action</button>
		<br><br>
		<button class="btn" type="button" onclick="toggleConfModal();">Configure</button>
		<button class="btn" type="button" id="res_btn" onclick="httpPost('{{ d_id }}/res');">Reset</button>
		<label class="container">Autostart
			<input id="astrt" type="checkbox" onclick="toggleAstrt(this);">
			<span class="checkmark"></span>
		</label>
	</div>
	{% endif %}

</div><!-- .wrapper -->

</body>
</html>